.git
.claude
**/.DS_Store
**/._*
**/node_modules
**/dist
**/coverage*
**/*.test.ts
**/*.test.tsx
**/e2e
tests
testdata
data
bin
*.md
!NOTICE.md
!LICENCE.md
TODO.md
CLAUDE.md
CHANGELOG.md
.env
.env.*
certs
samples
plans
telemetry
openapi
codecov.yml
